
body {
    background-color: #171717 !important; 
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}

body a {
    color: white !important;
}

.navegacao{
    background-color: #111111;
    padding-top: 2rem;
    
}

.navegacao li {
    color: white;
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
}

.navegacao li:hover{
    background-color: #01AAFF;
}

.navegacao li.ativo {
    background-color: #01AAFF;
}

.navegacao img {
    margin-bottom: 2rem;
}

.navegacao a {
    color: white;
}

/*
.ativo {
    background-color: #01AAFF;
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
}
*/

/* .navegacao a :hover{
    animation: none;
} */

.configuracao{
    top: 4em;
    color: white;
    float: right;
}

.configuracao ul{
    padding: 0px !important;
}

.configuracao a {
    position: relative;
    padding: 0px !important;
    display: flex;
}

.configuracao span {
    font-size: 14px;
    margin-bottom: 20rem !important;
}
.configuracao p {
    font-size: 12px;
}

.configuracao .fas {
    font-size: 1rem;
    padding-right: 5px;
}



.configuracao li :hover {
    color: #01AAFF;
}

.conta{
    top: 4rem;
}

.conta hr {
    background-color: white;
}

.conta span {
    font-size: 12px;
    font-weight: 300;
}

.conta label {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;

}

.checkedbox label {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.15px;
}



.btn-primary {
    background: #5213E3 !important;
    border-color: #5213E3 !important;
}

.btn-primary :hover {
    background: #703DE4 !important;
}
