
body {
    background-color: #171717 !important; 
    color: white;
    font-family: 'Montserrat', sans-serif !important;
}

body a {
    color: white ;
    text-decoration:none !important; 
}

.navegacao{
    background-color: #111111;
    padding-top: 2rem;
    min-height: 100vh;
}

.navegacao li {
    color: white;
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
}

.navegacao li:hover{
    background-color: #01AAFF;
}

.navegacao li.ativo {
    background-color: #01AAFF;
}

.navegacao img {
    margin-bottom: 2rem;
}

.navegacao a {
    color: white;
}

/*
.ativo {
    background-color: #01AAFF;
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
}
*/

/* .navegacao a :hover{
    animation: none;
} */

.configuracao{
    margin-top: 4em;
    color: white;
    /*float: right;*/
}

.configuracao ul{
    padding: 0px !important;
}

.configuracao a {
    position: relative;
    padding: 0px !important;
    display: flex;
}

.configuracao span {
    font-size: 14px;
    margin-bottom: 20rem !important;
}
.configuracao p {
    font-size: 12px;
}

.configuracao .fas {
    font-size: 1rem;
    padding-right: 5px;
}



.configuracao a:hover {
    color: #01AAFF;
}

.conta{
    margin-top: 4rem;
}

.conta hr {
    background-color: white;
}

.conta span {
    font-size: 12px;
    font-weight: 300;
}

.conta label {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;

}

.checkedbox label {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

/* .checkedbox {
    padding: 5px;
} */



.btn-primary {
    background: #5213E3 !important;
    border-color: #5213E3 !important;
}

.btn-primary :hover {
    background: #703DE4 !important;
}

.fa, .fas{
    margin-right: 1rem;
}

.itemconfig {
    margin-top: 50px;
    justify-content: center;
    margin-right: 1rem;
}

.itemconfig i{
    margin-top: 5px;
}

.item-ativado {
    color: #01AAFF!important;
}

.traco{
    position: relative;
    top: -250px;
    float: right;
    height: 500px;
    width: 1px;
    background-color: white;
    
}
